*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root{
  --main-blue: #2E2BD0;
  --main-white: #ffffff;
  --main-gray: #2F353F;
  --main-purple: #9695E7;
  --main-light: #CBCAF3;
}
body{
  width: 1920px;
  height: 9097px;
}
header{
  background-image: url(../img/annie-spratt-QckxruozjRg-unsplash.jpg);
  width: 1920px;
  height: 975px;
  background-position: top;
  background-size: cover;
}
/*Gediminas start*/
/*div 2 start*/
.container-div-2{
  width: 1920px;
  height: 919px;
}

.selected-divs{
  width: 1116px;
  height: 459px;
}



/*div 2 end*/
/*Gediminas end*/