* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Neue Machina';
    font-weight: 400;
}

@font-face {
    font-family: 'Neue Machina';
    src: url('../../FONTS/NeueMachina-Light.otf') format('opentype');
    font-weight: 300;
}

@font-face {
    font-family: 'Neue Machina';
    src: url('../../FONTS/NeueMachina-Regular.otf') format('opentype');
    font-weight: 400;
}

@font-face {
    font-family: 'Neue Machina';
    src: url('../../FONTS/NeueMachina-Ultrabold.otf') format('opentype');
    font-weight: 800;
}

@font-face {
    font-family: 'TT Norms';
    src: url('../../FONTS/TTNorms-Light.otf') format('opentype');
    font-weight: 300;
}

@font-face {
    font-family: 'TT Norms';
    src: url('../../FONTS/TTNorms-Regular.otf') format('opentype');
    font-weight: 400;
}

@font-face {
    font-family: 'TT Norms';
    src: url('../../FONTS/TTNorms-Italic.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'TT Norms';
    src: url('../../FONTS/TTNorms-Bold.otf') format('opentype');
    font-weight: 700;
}

@font-face {
    font-family: 'TT Norms';
    src: url('../../FONTS/TTNorms-BoldItalic.otf') format('opentype');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'TT Norms';
    src: url('../../FONTS/TTNorms-Black.otf') format('opentype');
    font-weight: 900;
}

@font-face {
    font-family: 'TT Norms';
    src: url('../../FONTS/TTNorms-BlackItalic.otf') format('opentype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../../FONTS/Gilroy-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../../FONTS/Gilroy-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../../FONTS/Gilroy-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../../FONTS/Gilroy-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../../FONTS/Gilroy-Heavy.ttf') format('truetype');
    font-weight: 900;
}

:root {
    --main-blue: #2E2BD0;
    --main-white: #ffffff;
    --main-gray: #2F353F;
    --main-purple: #9695E7;
    --main-light: #CBCAF3;
}

body {
    width: 100%;
    height: 100%;
    position: relative;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}

body::before {
    content: '';
    position: fixed;
    inset: 0;
    background:
        url('../IMG/BG_Noise.png') repeat;
    opacity: 0.05;
    filter: brightness(50%);
    mix-blend-mode: multiply;
    z-index: -9999;
    overflow-x: hidden;
}

@media (max-width: 1080px) {

    body,
    html {
        width: 1080px;
        height: 19250px;
        overflow-x: hidden;
    }
}

/* body done */

/* navbar START */
.navbar {
    display: flex;
    width: 97vw;
    height: 6.2vw;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.01vw solid var(--main-gray);
    font-weight: 300;
    margin-left: 0.6vw;
}

.main_menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: 300;
}

/* logo START */
.logo {
    width: 2.3vw;
    height: 2.5vw;
    margin-left: -0.4vw;
    color: var(--main-gray);
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: center;
    align-content: center;
}

.header_vector {
    height: 2vw;
}

/* logo done */
nav {
    width: 59.52vw;
    width: 59.52vw;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-family: "Neue Machina";
}

ul,
li {
    display: flex;
    gap: 4.35vw;
    gap: 4.35vw;
    align-items: center;
    color: var(--main-gray);
    font-family: "Neue Machina";
    font-style: normal;
    line-height: normal;
    text-transform: lowercase;
    list-style: none;
    font-weight: 300;
}

ul {
    display: flex;
    width: 33.77vw;
    width: 33.77vw;
    justify-content: flex-start;
}

li {
    padding: 0 0.8vw;
    margin-bottom: 0.2vw;
    margin-left: -0.2vw;
}

li:first-child {
    padding: 0;
}

a {
    text-decoration: none;
    color: var(--main-gray);
    font-size: 1.1vw;
}

.active {
    border: 0.1vw solid var(--main-blue);
    border-radius: 0.5vw;
    padding: 0.2vw 0.85vw;
    color: var(--main-blue);
}

.nav_hr {
    width: 0.01vw;
    background-color: var(--main-gray);
    height: 6.3vw;
    border: none;
}

.nav_buttons {
    width: 25.2vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.nav_buttons>a {
    color: var(--main-gray);
    font-family: "Neue Machina";
    font-size: 1vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    padding-bottom: 0.6vw;
    margin-right: 1.4vw;
}

.nav_buttons>a>img {
    width: 1.1vw;
    height: 2.55vw;
    margin-bottom: -1vw;
    margin-left: 0.2vw;
}

.nav_btn {
    display: flex;
    background-color: var(--main-blue);
    color: var(--main-white);
    border: none;
    border-radius: 0.6vw;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1vw;
    width: 12.8vw;
    height: 3vw;
    padding-bottom: 0.2vw;
    font-weight: 300;
}

.nav_btn img {
    width: 1.3vw;
    height: 2.5vw;
    margin-right: -0.3vw;
    margin-bottom: -0.3vw;
    margin-left: -1vw;
}


#burger_menu {
    display: none;
}

#contact_menu {
    display: none;
}

.logo_text {
    display: none;
}

@media (max-width: 1080px) {
    .main_menu {
        height: 30vw;
    }

    .navbar {
        height: 16.5%;
        height: 16.5%;
        justify-content: space-between;
        padding: 0 1.9vw;
        border: none;
    }

    nav {
        display: none;
    }

    #burger_menu {
        display: block;
        padding: 2.6vw;
        padding-bottom: 2.6vw;
        background-color: var(--main-blue);
        background-color: var(--main-blue);
        border-radius: 2vw;
        margin-top: -5px;
    }

    #contact_menu {
        display: block;
        padding: 2.6vw;
        padding-bottom: 2.6vw;
        background-color: var(--main-blue);
        background-color: var(--main-blue);
        border-radius: 2vw;
        margin-top: -5px;
    }

    .logo {
        width: 34vw;
        height: 12vw;
    }

    .header_vector {
        height: 11vw;
        width: 31%;
        margin-left: -1.6vw;
        margin-bottom: 0.5vw;
    }

    .logo_text {
        font-family: "TT Norms";
        font-weight: 700;
        display: block;
        height: 11vw;
        width: 20.5vw;
        font-size: 4vw;
        line-height: 110%;
        margin-top: 5vw;
        margin-left: 1.4vw;
        margin-right: -0.7vw;
    }
}

/* navbar END */

/* Who we are? START */

header {
    height: 52vw;
    width: 84.5vw;
    margin-top: 7vw;
}

header h1 {
    font-size: 3.1vw;
}

.header_text_boxes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 6.5vw;
    margin-top: 2.3vw;
    height: 25vw;
}

.header_text p {
    font-size: 1.56vw;
    color: var(--main-gray);
    font-family: "Gilroy";
    font-weight: 400;
    line-height: 2.3vw;
}

.header_text>p:first-child {
    margin-bottom: 3vw;
}

.header_boxes {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    padding-left: 2vw;
}

.box {
    border: 0.05vw solid var(--main-gray);
    border-radius: 2vw;
    padding: 1.7vw;
    padding-left: 2.6vw;
}

.header_boxes h3 {
    color: var(--main-blue);
    font-size: 3vw;
}

.header_boxes p {
    font-size: 1.2vw;
    color: var(--main-gray);
    font-family: "Gilroy";
    font-weight: 300;
    margin-top: 2.5vw;
}

.box_4 p {
    margin-top: 0.6vw;
}

.box:hover p,
.box:hover h3 {
    color: var(--main-white);
}

.box:hover {
    background-color: var(--main-blue);
}

.box,
.box h3,
.box p {
    transition: background-color 0.3s ease, color 0.3s ease;
}